div{
    color: red;
    background-color: burlywood;
    border: 10px solid tomato;
    /border-radius: 10px;
}
p{
    color: blueviolet;
}
img{
    border: 5px solid pink;
}
nav{
    text-decoration: none;
}